.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.events-container {
  align-items: center;
}

.event-card {
  margin-bottom: 10%;
  width: 50vw;
}

.event-card-image img {
  border-radius: 1% 1% 0 0;
}

.event-card-content {
  background-color: rgb(163, 162, 162);
  padding: 20px;
  padding-left: 30px;
  color: #f8f8f8;
  border-width: 9px;
  border-style: solid;
  border-color: orange;
  border-radius: 0 0 1% 1%;
}

.event-card-content h3 {
  margin-bottom: 0px;
  border: blue;
}

.event-card-content p {
  margin-bottom: 0px;
}

div.column.event-card-content-left {
  border-width: 9px;
  border-style: solid;
  border-color: orange;
}

.event-card-user-icon p {
  text-align: center;
  border-width: 1px;
  border-style: dashed;
  border-color: orange;
  border-radius: 10%;
  display: inline-block;
  padding: 10px 0;
}