@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Martel&display=swap');

// Set your brand colors
$peach: #FEECE7;
$blue: #97C8DC; //#89C9E5; // #99E0FF
$yellow: #FFFBE1;
$green: #EBF5E2;
$grey: #F5F7FB;
$pink: #FFF0FC;
// $blue: #66AECC
// $lighter-blue: #AAC8D5
// $another-blue: #669DE3
// $sky-blue: #99E0FF !!!
// $this-is-a-blue: #6CB8D9

// $peach: #FEE7DA;
// $pink: #FDECE7;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$family-serif: 'Martel', serif;
$grey-dark: #363636;
$grey-light: $blue;
$primary: $yellow;
$link: #2A2E45;
$widescreen-enabled: false;
$fullhd-enabled: false;
$is-success: #89C9E5;

// Update some of Bulma's component variables
$body-background-color: $grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

//////////////
// GENERAL //
/////////////
h1 {
  font-family: $family-serif;
}

.button {
  padding: 10px 10px 35px 10px;
}

////////////////
// NAVIGATION //
////////////////
.nav-coming-soon {
  color: $blue;
}

///////////
// LOGIN //
///////////
.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(120deg, $pink, $blue);
    opacity: .9;
    justify-content: center;
  }
  
  .login-card {
    background-color: white;
    width: 50vw;
    display: inline-block;
    border-radius: 2px;
  }

  .login-left-column {
    padding: 40px;
  }

  .login-right-column {
    // background-image: url('https://images.pexels.com/photos/2306813/pexels-photo-2306813.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  .overlay {
    content: ""; // ::before and ::after both require content
    position: relative;
    width: 100%;
    height: 100%;
    // background: linear-gradient(120deg, #eaee44, #33d0ff);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    opacity: .9;
    padding: 0;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text-block {
    position: absolute;
    color: #363636;
    top: 25%;
    left: 15%;
    right: 15%;
  }

  span {
    color: $pink;
  }

  .definition {
    font-family: $family-serif;
    display: block;
    padding-bottom: 20px;
  }

  .login-input {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .logo {
    justify-content: center;
    text-align: center;
    display: block;
    padding: 20px;
  }

  .buttons {
    justify-content: center;
  }

  .login-button {
    width: 80px;
  }

/////////////
// PROFILE //
////////////
.hero.is-medium .hero-body {
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.banner {
  content: ""; // ::before and ::after both require content
    position: relative;
    width: 100%;
    height: 100%;
    // background: linear-gradient(120deg, #eaee44, #33d0ff);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    opacity: .9;
    padding: 0;
    animation: gradientBG 15s ease infinite;
}

.image-hero-body {
  justify-content: center;
}

img.circular {
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.profile-hero-body {
  background-color: white;
}

h1.title.profile-title {
  margin-bottom: 0rem;
}

.profile-hero-body-text {
  justify-content: center;
  text-align: center;
}

.city-text {
  color: #363636;
}

.profile-events-container {
  padding: 60px 0;
}

.profile-friend-button, .profile-chat-button {
  width: 80px;
}

div.level-item.has-text-centered div.event-card.column.is-3 {
  width: 50%;
}

div.level-item.has-text-centered div.event-card.column.is-3.event-created {
  width: 25%;
}
///////////////
// SEARCHBAR //
///////////////
  .searchbar-container {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: center;
  }

  .searchbar input {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 400px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .searchbar a {
    height: 40px;
    width: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .button.is-info {
    padding: 0px;
  }
////////////
// MODAL //
///////////
  .create-event-modal-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }

  .is-large {
    background-image: url('https://images.pexels.com/photos/2306813/pexels-photo-2306813.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1.title.create-event-title {
    color: white!important;
    text-align: center;
  }

  .create-event-button, .button.is-success {
    background-color: $blue;
    padding: 10px 10px 35px 10px;
    color: white;
    border-color: $blue;
  }
///////////////////////
// JK, ACTUAL MODAL //
/////////////////////
.modal-card-head, .modal-card-foot {
  background-color: whitesmoke;
}

.modal-card-title, .label {
  color: #2A2E45;
}

.modal-fields {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.select {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.textarea {
  min-width: 80%;
  max-width: 100%;
}

.modal-cancel-button {
  width: 110px;
}

  .is-small {
    padding: 20px 0;
  }

  .filter-hero-body {
    background-color: white;
  }

  .hero.is-info .title {
    color: #2A2E45;
  }

  h1.title.filter-events-title {
    text-align: center;
  }

  .filter-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
  }

  .category {
    border-radius: 2px;
    width: min-content;
  }

  .category .box {
    background-color: $blue;
  }

  .events-title {
    text-align: center;
    padding-top: 20px;
  }
  
  .events-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
  }
  
  .event-card-image img {
    border-radius: 2% 2% 0 0;
    height: 150px;
    width: 250px;
  }
  
  .event-card-content {
    background-color: white;
    padding: 0;
    border-radius: 0 0 2% 2%;
    height: 100%;
    // border-bottom: 3px solid;
    position: relative;
    --lh: 1.4rem;
    line-height: var(--lh);
  }

  .event-card-tags {
    color: #363636;
  }
  
  .event-card-tags p {
    display: inline-block;
    margin-bottom: 0 !important;
  }

  .event-name {
    margin-bottom: 16px !important;
  }

  .event-location {
    padding: 0 10px;
    color: #363636;
  }

  .event-card-description {
    margin-bottom: 20px;
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-card-details {
    color: $blue;
    padding-left: 10px;
  }

  .subtitle {
    margin: 1rem 0;
    padding: 0 10px;
  }
  
  .event-card-content p {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  
  // div.column.event-card-content-left {
  //   border-width: 9px;
  //   border-style: solid;
  //   border-color: orange;
  // }
  
  .event-card-user-icon p {
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: orange;
    border-radius: 10%;
    display: inline-block;
    padding: 10px 0;
  }

  .events-hr {
    margin: 20px 0 0 0;
    background-color: $blue;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Event Details */
  .styling-box {
    // border: 1px solid grey;
    padding: 60px;
  }

  .event-detail-image img {
    border-radius: 2px;
    margin-bottom: 40px;
    padding-right: 0px;
    width: 100%;
  }
  
  .event-detail-description {
    margin: 1.5em 0;
    padding: 0 10px 0 0;
  }

  .event-detail-map {
    padding-left: 0;
  }

  /* Event Details More Events */
  .event-details-more-events {
    background-color: white;
  }